<section aria-labelledby="do-you-know-heading">
  <div class="rounded-lg bg-white shadow">
    <div class="p-6">
      <h2 id="do-you-know-heading" class="text-base font-medium text-gray-900">
        Do you know...
      </h2>
      <div class="mt-6 flow-root">
        <ul class="-my-4 divide-y divide-gray-200">
          <li *ngIf="!friends || friends.length === 0">No Suggestion</li>
          <ng-container *ngIf="friends && friends.length > 0">
            <app-friend-suggestion
              *ngFor="let friend of friends"
              [friend]="friend"
            ></app-friend-suggestion>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</section>
