<div class="min-h-full">
  <app-nav></app-nav>
  <div class="py-10">
    <div
      class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8"
    >
      <div class="hidden lg:col-span-3 lg:block xl:col-span-2">
        <app-sidebar-nav></app-sidebar-nav>
      </div>
      <main class="lg:col-span-9 xl:col-span-6">
        <app-articles [articles]="(data && data.articles) || []"></app-articles>
      </main>
      <aside class="hidden xl:col-span-4 xl:block">
        <div class="sticky top-4 space-y-4">
          <app-friend-suggestions
            [friends]="(data && data.friends) || []"
          ></app-friend-suggestions>
          <app-news [news]="(data && data.news) || []"></app-news>
        </div>
      </aside>
    </div>
  </div>
</div>
