<div class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24">
  <h2 class="mt-1 text-3xl lg:text-left tracking-tight text-gray-900 capitalize font-black sm:leading-snug sm:text-5xl lg:text-3xl xl:text-4xl">
    Mes formations
  </h2>
  <div>
    <div class="sm:hidden">
      <select aria-label="Selected tab" class="mt-1 form-select block w-full md:pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5 transition ease-in-out duration-150">
        <option>Toutes mes formations
        </option>
        <option selected>Formation en cours
        </option>
        <option>Formations terminées
        </option>
      </select>
    </div>
    <div class="hidden sm:block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex">
          <a
          (click)="setTabIndex(0)"
          style="margin-right: 1rem;padding-top: 0.5rem;padding-bottom: 0.5rem;"
          [ngClass]="tabClass(0)"
          >
            Toutes mes formations
          </a>
          <a
          (click)="setTabIndex(1)"
          style="margin-left: 1rem; margin-right: 1rem;padding-top: 0.5rem;padding-bottom: 0.5rem;"
          [ngClass]="tabClass(1)"
          >
            Formation à venir
          </a>
          <a 
          (click)="setTabIndex(2)"
          style="margin-left: 1rem;padding-top: 0.5rem;padding-bottom: 0.5rem;"
          [ngClass]="tabClass(2)"
          >
            Formations terminées
          </a>
        </nav>
      </div>
    </div>
  </div>
  <div class="relative py-12">
    <p 
    class="border bg-red-300 rounded border-red-700 pt-4 pb-4 text-center text-xl leading-7 text-red-500"
    *ngIf="coursesError">
      {{coursesError}}
    </p>
    <p 
    *ngIf="tabCourses() && tabCourses().length < 1"
    class="mt-4 text-center text-xl leading-7 text-gray-500">
      Pas de formation en cours
    </p>

    <!-- Card -->
    <div 
      *ngFor="let course of tabCourses()"
      class="flex flex-wrap mb-6 max-w-sm w-full md:max-w-full shadow-lg border rounded-lg overflow-hidden"
      >
      <a class="flex flex-col md:flex-row w-full h-full cursor-pointer">
        <div class="flex items-center w-full h-48 md:h-auto md:w-64">
          <img class="w-auto h-auto object-top md:object-center object-cover" src="{{course.img}}"/>
        </div>
        <div
          class="flex w-full h-full border-gray-400 bg-gray-100 lg:rounded-r-lg p-6 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <p class="text-sm text-blue-500 flex items-center">
              <svg class="fill-current text-blue-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
              </svg>
              Members only
            </p>
            <div class="text-gray-900 font-bold text-xl mt-2 {{courseLabelStyle(course)}}">
              {{course.title}}
            </div>
            <p class="text-gray-600 text-base md:h-20 lg:h-12 mt-3 {{courseLabelStyle(course)}}">
              {{course.desc}}
            </p>
            <div class="mt-6">
              <span
                *ngFor="let tag of course.tags"
                class="inline-block bg-yellow-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{tag}}</span>
            </div>
          </div>
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-4 object-cover" src="{{course.teacher.picture}}" alt="{{course.teacher.name}}">
            <div class="text-sm">
              <p class="text-gray-900 leading-none">{{course.teacher.name}}</p>
              <p class="text-gray-600">{{course.date}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>